<h1>Applicants#new</h1>
<p>Find me in app/views/applicants/new.html.erb</p>

<p>Find me in app/views/applicants/new.html.erb</p>

<% if @user.errors.any? %>
 <ul>
  <% @user.errors.full_messages.each do |message| %>
      <li><%= message %> </li>
  <% end %>
 </ul>
<% end %>

<p>Find me in app/views/applicants/new.html.erb</p>

<%= form_for @user, url: :applicants_create do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.button "Submit" %>
  </p>
<% end %>

<p>Find me in app/views/applicants/new.html.erb</p>
